{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "rallycoding"
  ],
  "rules": {
    "react/require-extension": 0,
    "arrow-body-style": 0
  },
  "globals": {
    "fetch": false
  }
}
